/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

/logs
/resources/public/js/out/
/resources/public/js/out-min
/resources/public/js/app.js
/resources/public/js/app.min.js
/resources/public/js/app.js.map
