{:nomad/environments
    {:default
        {:wrap-reload false
          :wrap-stacktrace-log true
          :wrap-stacktrace-web true
        }
     "prod"
        {:wrap-reload false
          :wrap-stacktrace-log true
          :wrap-stacktrace-web true
        }
}}
