<div class="message avatar">
    <a class="msg_actions">
        <input type="checkbox" class="msg_select_cb">
        <i class="msg_cog fa fa-cog"></i>
    </a>
    <a href="#" class="member_preview_link member_image thumb_36"></a>
    <i class="copy_only"><br></i>
    <a href="#" target="/msgfull" class="message_sender member" data-member-id=""></a>
    <i class="copy_only"></i>
    <i class="copy_only">[</i>
    <span class="timestamp"></span>
    <i class="copy_only">]</i>
    <span class="message_content"></span>
</div>
